//* couleurs de base *//

$color-primary: #252934;
$color-secondary:   #fafafa;
$color-hover: #f300b4;
$color-shadow: rgba(0, 0, 255, .2);

/* shadow card */
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

//* fonts *//

@font-face {
  font-family: "Overlock";
  src: local(Overlock),
  url("../font/Overlock-Black.ttf") format("ttf"),
  url("../font/overlock-v10-latin-regular.woff") format("woff"),
  url("../font/overlock-v10-latin-regular.woff2") format("woff2");
}

//* fonctions pr triangle *//
$width-triangle: 0;
$height-triangle: 1910px;
@function left-triangle($height-triangle) {
  $size: (($height-triangle/100)*36);
  @return $size
}
@function right-triangle($height-triangle) {
  $size: (($height-triangle/100)*65);
  @return $size
}

//* keyframes welcome section *//
@keyframes moon-move-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }
}
@-webkit-keyframes moon-move-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveWords {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}
@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}
@-webkit-keyframes forest-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}
@keyframes forest-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}
@-webkit-keyframes silhouette-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}
@keyframes silhouette-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}



html {

  body {
    padding: 0;
    margin: 0;
    color: #252934;
    background: white;
    font-size: 62.5%;
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;

    a {
      text-decoration: none;
      font-size: 17px;
      &:hover {
        color: #f300b4;
      }
    }
    }
}

#main {
  width: 100vw;
  height: 130vh;
  overflow: hidden;

  #nav {
    position: fixed;
    padding-left: 90%;
    background-color: transparent;
    z-index: 2;
    color: #fafafa;

    #myLinks {
      display: none;
    }
  }
  #btn-menu {
    padding: 20px 16px;

    &:hover {
      span:first-of-type{
        transform: rotate(45deg) translate(7.5px, 7.5px);
      }
      span:nth-of-type(2) {
        width: 0;
      }
      span:last-of-type {
        transform: rotate(-45deg) translate(7.5px, -7.5px);
      }
    }
    span {
      width: 35px;
      height: 4px;
      display: block;
      margin: 7px;
      background: #fafafa;
      transition: width 0.4s ease, transform 0.4s ease;
    }
  }
  #welcome-section{
    width: 100vw;
    height: 100vh;
    background: #202736;
    background: -webkit-gradient(linear, left top, left bottom, from(#181d23), color-stop(80%, #202736));
    background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
    background-attachment: fixed;
    background-size: cover;
    //position: absolute;
    top: 0;
    min-height: 90vh;
    margin: 0 auto;


    .moon {
      position: relative;
      top: 80px;
      right: 150px;
      background: url("../img/Moon.svg") top right no-repeat;
      width: 100%;
      height: 150px;
      z-index: 2;
      animation: moon-move-in 1.2s forwards;
      -webkit-animation: moon-move-in 1.2s forwards;
    }

    .wrapper {
      position: absolute;
      top:45%;
      left: 40%;
      transform: translate(-50%, -50%);
    }

    .text {
      color: $color-secondary;
      margin: 0;
      font-size: 86px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      .line {
        overflow: hidden;
        white-space: nowrap;
        height: 80px;
        line-height: 1.5;
        &:first-child {
          & + .line {
            margin-left: 80px;
            &+ .line {
              margin-left: 150px;
            }
          }
        }
        > p {
          margin: 0;
          height: 80px;
          overflow: hidden;
          font-size: 1em;
          line-height: .9;
          white-space: nowrap;
          animation: moveWords 6s infinite ease;
        }
      }
      .line:nth-child(odd) {
        transform: skew(60deg,-30deg) scaleY(.66667);
      }
      .line:nth-child(even) {
        transform: skew(0deg,-30deg) scaleY(1.33333);
      }
    }

    .silhouette {
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../img/téléchargement.png") bottom no-repeat;
      background-size: 70%;
      width: 30%;
      height: 50%;
      opacity: 0;
      z-index: 2;
      -webkit-animation: silhouette-move-in 1000ms 800ms forwards;
      animation: silhouette-move-in 1000ms 800ms forwards;
    }



    .stars {
      position: relative;
      top: -150px;
      background: url(../img/Stars.svg);
      width: 100%;
      height: 100%;
      z-index: 1;
      -webkit-animation: stars-move-in 1000ms 300ms forwards;
      animation: stars-move-in 1000ms 300ms forwards;

    }
    .forest {
      position: relative;
      top: -415px;
      right: 0;
      background: url("../img/Trees.svg") repeat-x;
      width: 100%;
      height: 266px;
      z-index: 2;
      opacity: 1;
      animation: forest-move-in 1.2s 1s forwards;
      -webkit-animation: forest-move-in 1.2s 1s forwards;
    }
  }
  div.triangle {
      width: 0;
      height: $height-triangle;
      position: relative;
      border-left: left-triangle($height-triangle) solid transparent;
      border-right: right-triangle($height-triangle) solid transparent;
      border-top: 150px solid black;
      z-index: -1;
    }
}

#home {
  padding: 20px;

  .card {
    background-color: $color-secondary;
    box-shadow: $box-shadow;
    padding: 0 7vw;
    border-radius: 10px;
    margin: 0 8vw;

    .cardTitle {
      font-size: 5vw;
      padding: 2vw;
      float: top;
    }

    .cardText {
      padding-left: 25vw;
      padding-bottom: 5vw;
      font-size: 2vw;
    }

    .cardImg {
      width: 115px;
      padding: 20px;
    }
  }

  #about {
    display: flow;
    text-align: center;
    padding: 2vw;

    .frameImg {
      background-color: $color-primary;
      border-radius: 15px;
      transform: rotate(-27deg);
      float: left;
      box-shadow: $box-shadow;
    }

    .imgMe {
      border-radius: 15px;
      box-shadow: $box-shadow;
      transform: rotate(27deg);
      float: left;
      background: url("../img/me.jpg") no-repeat;
      height: 290px;
      width: 222px;
      background-size: 100%;
    }
  }

  #knowing {
    display: block;

    .card {
      background: $color-secondary;
      align-items: center;
    }

    .cardTitle {
      text-align: center;
    }

    .cardImg img {
      width: 115px;
      padding: 20px;
    }
  }

  #myProjects {
    padding-top: 2vw;

    .projectCard {
      @extend .card;
      border: none;
      box-shadow: none;
      background: white;

      .img {
        background-color: black;
        float: left;
        width: 15vw;
        height: 15vw;
        border-radius: 20vw;
      }
    }
  }
}

footer {

  background-color: $color-primary;
  color: $color-secondary;
  .footer {
    padding-top: 5%;
    text-align: center;
  }
}

div.triangle2 {
  width: 0;
  height: 10px;
  border-left: 510px solid transparent;
  border-right: 921px solid transparent;
  border-top: 68px solid white;
}

#contact-me {
  height: 492px;
  color: $color-secondary;
  background: url("../img/envelope.png") no-repeat center;
  background-size: 63%;
}

form.contact-me {
  display: inline-block;
  padding: 5% 5% 5% 30%;
  width: 40%;

  div {
    border-bottom: #f300b4 solid 1px;
    padding: 2%;
  }
  label {
    font-size: 300%;
    padding-right: 5%;
  }
  .msg {
    display: grid;
    text-align: left;

    textarea {
      width: 100%;
      height: 90px;
      border: none;
    }
  }
  input {
    border: none;
    box-shadow: none;
  }
  input[type="text"],
  input[type="email"],
  input[type="text"]:not(output):not(:focus),
  input[type="email"]:not(output):not(:focus),
  textarea {
    background: transparent;
    color: $color-secondary;
    font-size: 1.8rem;
    box-shadow: none;
    outline: none;
    width: 80%;
    align-self: flex-end;
  }
  input[type="submit"] {
    background: $color-hover;
    color: $color-secondary;
    margin-top: 1rem;
    width: auto;
    float: right;
    &:hover, &:focus {
      cursor: pointer;
      background-color: $color-primary;
      color: $color-hover;
      border: none;
    }
  }
}