@charset "UTF-8";
@font-face {
  font-family: "Overlock";
  src: local(Overlock), url("../font/Overlock-Black.ttf") format("ttf"), url("../font/overlock-v10-latin-regular.woff") format("woff"), url("../font/overlock-v10-latin-regular.woff2") format("woff2");
}
@keyframes moon-move-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes moon-move-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveWords {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}
@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}
@-webkit-keyframes forest-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}
@keyframes forest-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}
@-webkit-keyframes silhouette-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}
@keyframes silhouette-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}
html body {
  padding: 0;
  margin: 0;
  color: #252934;
  background: #fafafa;
  font-size: 62.5%;
  font-family: "Overlock", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
html body a {
  text-decoration: none;
  font-size: 17px;
}
html body a:hover {
  color: #f300b4;
}

#main {
  width: 100vw;
  height: 130vh;
  overflow: hidden;
}
#main #nav {
  position: fixed;
  padding-left: 90%;
  background-color: transparent;
  z-index: 2;
  color: #fafafa;
}
#main #nav #myLinks {
  display: none;
}
#main #btn-menu {
  padding: 20px 16px;
}
#main #btn-menu:hover span:first-of-type {
  transform: rotate(45deg) translate(7.5px, 7.5px);
}
#main #btn-menu:hover span:nth-of-type(2) {
  width: 0;
}
#main #btn-menu:hover span:last-of-type {
  transform: rotate(-45deg) translate(7.5px, -7.5px);
}
#main #btn-menu span {
  width: 35px;
  height: 4px;
  display: block;
  margin: 7px;
  background: #fafafa;
  transition: width 0.4s ease, transform 0.4s ease;
}
#main #welcome-section {
  width: 100vw;
  height: 100vh;
  background: #202736;
  background: -webkit-gradient(linear, left top, left bottom, from(#181d23), color-stop(80%, #202736));
  background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  min-height: 90vh;
  margin: 0 auto;
}
#main #welcome-section .moon {
  position: relative;
  top: 80px;
  right: 150px;
  background: url("../img/Moon.svg") top right no-repeat;
  width: 100%;
  height: 150px;
  z-index: 2;
  animation: moon-move-in 1.2s forwards;
  -webkit-animation: moon-move-in 1.2s forwards;
}
#main #welcome-section .wrapper {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
}
#main #welcome-section .text {
  color: #fafafa;
  margin: 0;
  font-size: 86px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
#main #welcome-section .text .line {
  overflow: hidden;
  white-space: nowrap;
  height: 80px;
  line-height: 1.5;
}
#main #welcome-section .text .line:first-child + .line {
  margin-left: 80px;
}
#main #welcome-section .text .line:first-child + .line + .line {
  margin-left: 150px;
}
#main #welcome-section .text .line > p {
  margin: 0;
  height: 80px;
  overflow: hidden;
  font-size: 1em;
  line-height: 0.9;
  white-space: nowrap;
  animation: moveWords 6s infinite ease;
}
#main #welcome-section .text .line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
#main #welcome-section .text .line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}
#main #welcome-section .silhouette {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../img/téléchargement.png") bottom no-repeat;
  background-size: 70%;
  width: 30%;
  height: 50%;
  opacity: 0;
  z-index: 2;
  -webkit-animation: silhouette-move-in 1000ms 800ms forwards;
  animation: silhouette-move-in 1000ms 800ms forwards;
}
#main #welcome-section .stars {
  position: relative;
  top: -150px;
  background: url(../img/Stars.svg);
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-animation: stars-move-in 1000ms 300ms forwards;
  animation: stars-move-in 1000ms 300ms forwards;
}
#main #welcome-section .forest {
  position: relative;
  top: -415px;
  right: 0;
  background: url("../img/Trees.svg") repeat-x;
  width: 100%;
  height: 266px;
  z-index: 2;
  opacity: 1;
  animation: forest-move-in 1.2s 1s forwards;
  -webkit-animation: forest-move-in 1.2s 1s forwards;
}
#main div.triangle {
  width: 0;
  height: 1910px;
  position: relative;
  border-left: 687.6px solid transparent;
  border-right: 1241.5px solid transparent;
  border-top: 150px solid black;
  z-index: -1;
}

#home {
  background-image: url("../img/bg-city.jpg");
  padding: 20px;
}
#home #about {
  border: solid 2px black;
  display: flow;
  text-align: center;
  padding: 2vw;
}
#home #about .card {
  border: solid 2px blue;
  padding: 0 10vw;
}
#home #about .card .aboutTitle {
  font-size: 5vw;
  padding: 2vw;
  float: top;
}
#home #about .card .imgMe {
  float: left;
  background: url("../img/me.jpg") no-repeat;
  height: 290px;
  width: 222px;
  background-size: 100%;
  border-radius: 20px;
}
#home #about .card .aboutText {
  padding-left: 4vw;
  font-size: 2vw;
}

/*# sourceMappingURL=index.css.map */
