//* couleurs de base *//

$color-primary: #252934;
$color-secondary:   #fafafa;
$color-hover: #f300b4;
//* fonts *//

@font-face {
  font-family: "Overlock";
  src: local(Overlock),
  url("../font/Overlock-Black.ttf") format("ttf"),
  url("../font/overlock-v10-latin-regular.woff") format("woff"),
  url("../font/overlock-v10-latin-regular.woff2") format("woff2");
}

//* fonctions pr triangle *//
$width-triangle: 0;
$height-triangle: 1910px;
@function left-triangle($height-triangle) {
  $size: (($height-triangle/100)*36);
  @return $size
}
@function right-triangle($height-triangle) {
  $size: (($height-triangle/100)*65);
  @return $size
}

//* keyframes welcome section *//
@keyframes moon-move-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }
}
@-webkit-keyframes moon-move-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveWords {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}
@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}
@-webkit-keyframes forest-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}
@keyframes forest-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}
@-webkit-keyframes silhouette-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}
@keyframes silhouette-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}



html {

  body {
    padding: 0;
    margin: 0;
    color: #252934;
    background: #fafafa;
    font-size: 62.5%;
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;

    a {
      text-decoration: none;
      font-size: 17px;
      &:hover {
        color: #f300b4;
      }
    }
      //  fermeture body
    }
// fermeture html
}




#main {
  width: 100vw;
  height: 130vh;
  overflow: hidden;

  #nav {
    position: fixed;
    padding-left: 90%;
    background-color: transparent;
    z-index: 2;
    color: #fafafa;

    #myLinks {
      display: none;
    }
  }
  #btn-menu {
    padding: 20px 16px;

    &:hover {
      span:first-of-type{
        transform: rotate(45deg) translate(7.5px, 7.5px);
      }
      span:nth-of-type(2) {
        width: 0;
      }
      span:last-of-type {
        transform: rotate(-45deg) translate(7.5px, -7.5px);
      }
    }
    span {
      width: 35px;
      height: 4px;
      display: block;
      margin: 7px;
      background: #fafafa;
      transition: width 0.4s ease, transform 0.4s ease;
    }
  }


  #welcome-section{
    width: 100vw;
    height: 100vh;
    background: #202736;
    background: -webkit-gradient(linear, left top, left bottom, from(#181d23), color-stop(80%, #202736));
    background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
    background-attachment: fixed;
    background-size: cover;
    //position: absolute;
    top: 0;
    min-height: 90vh;
    margin: 0 auto;


    .moon {
      position: relative;
      top: 80px;
      right: 150px;
      background: url("../img/Moon.svg") top right no-repeat;
      width: 100%;
      height: 150px;
      z-index: 2;
      animation: moon-move-in 1.2s forwards;
      -webkit-animation: moon-move-in 1.2s forwards;
    }

    .wrapper {
      position: absolute;
      top:45%;
      left: 40%;
      transform: translate(-50%, -50%);
    }

    .text {
      color: $color-secondary;
      margin: 0;
      font-size: 86px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      .line {
        overflow: hidden;
        white-space: nowrap;
        height: 80px;
        line-height: 1.5;
        &:first-child {
          & + .line {
            margin-left: 80px;
            &+ .line {
              margin-left: 150px;
            }
          }
        }
        > p {
          margin: 0;
          height: 80px;
          overflow: hidden;
          font-size: 1em;
          line-height: .9;
          white-space: nowrap;
          animation: moveWords 6s infinite ease;
        }
      }
      .line:nth-child(odd) {
        transform: skew(60deg,-30deg) scaleY(.66667);
      }
      .line:nth-child(even) {
        transform: skew(0deg,-30deg) scaleY(1.33333);
      }
    }

    .silhouette {
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../img/téléchargement.png") bottom no-repeat;
      background-size: 70%;
      width: 30%;
      height: 50%;
      opacity: 0;
      z-index: 2;
      -webkit-animation: silhouette-move-in 1000ms 800ms forwards;
      animation: silhouette-move-in 1000ms 800ms forwards;
    }



    .stars {
      position: relative;
      top: -150px;
      background: url(../img/Stars.svg);
      width: 100%;
      height: 100%;
      z-index: 1;
      -webkit-animation: stars-move-in 1000ms 300ms forwards;
      animation: stars-move-in 1000ms 300ms forwards;

    }

    //.forest {
    //  position: relative;
    //  //top: 50%;
    //  //left: 0;
    //  background: url("../img/Trees.svg")no-repeat;
    //  background-size: cover;
    //  width: 100%;
    //  min-height: 100vh;
    //  opacity: 0;
    //  z-index: 1;
    //  -webkit-animation: forest-move-in 1000ms 500ms forwards;
    //  animation: forest-move-in 1000ms 500ms forwards;
    //}

    .forest {
      position: relative;
      top: -415px;
      right: 0;
      background: url("../img/Trees.svg") repeat-x;
      width: 100%;
      height: 266px;
      z-index: 2;
      opacity: 1;
      animation: forest-move-in 1.2s 1s forwards;
      -webkit-animation: forest-move-in 1.2s 1s forwards;
    }
  }
    div.triangle {
      width: 0;
      height: $height-triangle;
      position: relative;
      border-left: left-triangle($height-triangle) solid transparent;
      border-right: right-triangle($height-triangle) solid transparent;
      border-top: 150px solid black;
      z-index: -1;
    }
}
#home {
  background-image: url("../img/bg-city.jpg");

  padding: 20px;

  #about {
    border: solid 2px black;
    display: flow;
    text-align: center;
    padding: 2vw;


  .card {
    border: solid 2px blue;
    padding: 0 10vw;


    .aboutTitle {
      font-size: 5vw;
      padding: 2vw;
      float: top;
    }

    .imgMe {

      float: left;
      background: url("../img/me.jpg") no-repeat;
      height: 290px;
      width: 222px;
      background-size: 100%;
      border-radius: 20px;
    }

    .aboutText {
      padding-left: 4vw;
      font-size: 2vw;
    }
  }

  }
}






//glitch1 {
  //animation: glitch1 3s steps(100);
  //color: #151515;
  //font-size: 3em;
//}

//@keyframes glitch1 {
//  0% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  1% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  2% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  3% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  4% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  5% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  6% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  7% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  8% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  9% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  10% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  11% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
//  12% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
//  13% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
//  14% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
//  15% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
//  16% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  17% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  18% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  19% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  20% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  21% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  22% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  23% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  24% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  25% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  26% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0.5px);}
//  27% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0.5px);}
//  28% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  29% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  30% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  31% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  32% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  33% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  34% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  35% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
//  36% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
//  37% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
//  38% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  39% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  40% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  41% { text-shadow: 45px 0 0 #0c33f5, -45px 0 0 lime; filter: blur(0);}
//  42% { text-shadow: 0 0 0 #0c33f5, 0 0 0 lime; filter: blur(0);}
//  43% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
//  44% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
//  45% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
//  46% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
//  47% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
//  48% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  49% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  50% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  51% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  52% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  53% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  54% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  55% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0.5px);}
//  56% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
//  57% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
//  58% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  59% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  60% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  61% { text-shadow: 30px 0 0 red, -30px 0 0 lime; filter: blur(0);}
//  62% { text-shadow: 0 0 0 red, 0 0 0 lime; filter: blur(0);}
//  63% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
//  64% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
//  65% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
//  66% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0.5px);}
//  67% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
//  68% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  69% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  70% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  71% { text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5; filter: blur(0);}
//  72% { text-shadow: 0 0 0 red, 0 0 0 #0c33f5; filter: blur(0);}
//  73% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  74% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  75% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  76% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
//  77% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  78% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  79% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  80% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
//  81% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
//  82% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
//  83% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
//  84% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
//  85% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
//  86% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
//  87% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
//  88% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  89% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  90% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
//  91% { text-shadow: 60px 0 0 lime, -60px 0 0 #0c33f5; filter: blur(0);}
//  92% { text-shadow: 0 0 0 lime, 0 0 0 #0c33f5; filter: blur(0);}
//  92% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  93% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  94% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  95% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
//  96% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  97% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  98% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  99% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
//  100% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);} }