//* couleurs de base *//

$color-primary: #252934;
$color-secondary:   #fafafa;
$color-hover: #F300B4;
$color-shadow: rgba(0, 0, 255, .2);

///* shadow card *//
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);